.container{
    width: 100vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #161616;
    gap: 8px;
    padding: 12px;
    box-sizing: border-box;
    .chatItem{
        box-sizing: border-box;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width: 100%;
        padding:24px;
    }
    &::-webkit-scrollbar{
        display: none;
    }
}
